//Classes to add the animations to elements:

.score-bump {
  animation-name: scoreBump;
  animation-duration: 1s;
}




// Animation Definitions

@keyframes scoreBump {
  0%   {background-color: $primary-50;}
  50%  {background-color: $secondary-50;}
  100% {background-color: $primary-50;}
}
